@model CommonGestionTrabajadoresMVC.DTOs.JefeEquipoDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JefesEquipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>@{string fechaNacimiento = Model.FechaNacimiento.ToString("d"); }
            @Html.DisplayFor(model => fechaNacimiento)
        </dd>

        <dt>
            
            @Html.DisplayNameFor(model => model.TfnoEmpresa)
        </dt>

        <dd>
            

            @{string telefono = string.Format("{0:### ## ## ##}",int.Parse( Model.TfnoEmpresa)); }
            @Html.DisplayFor(model => telefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
